<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <queries>
        <package android:name="com.coloros.gallery3d" />
    </queries>

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".SynologyApplication"
        android:allowBackup="false"
        android:description="@string/xposed_description"
        android:hasCode="true"
        android:icon="@drawable/ic_module"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.ColorOSSynologyNAS"
        android:usesCleartextTraffic="false"
        tools:ignore="DataExtractionRules">

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>
</manifest>
